
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
            <% @tasks.each do |task| %>
                <tr>
                    <td><%= task.title%></td>
                    <td><%= task.body%></td>
                    <td><%= task.id%></td>
                </tr>
            <% end %>
        </tbody>
    </table>
