/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --line-color: #d2d2d2;
}

.table {
    text-align: center;
}

.mymain {
    display: flex;
    height: 100vh;
    
}

    .mynavcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20vw;
        height: 100vh;
    }


        .navbar {
            height: 100vh;
        }

    .myyieldcontainer {
        width: 80vw;
    }

.mainboard-container {
    width: 100%;
}

.mainboard {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80vh;
}

    .status {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        border: 1px solid var(--line-color);
        border-radius: 15px;
    }

        .status-header {
            display: flex;
            justify-content: space-between;
            width: 90%;
        }