<div class="table table-responsive-lg">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">name</th>
            </tr>
        </thead>
        <tbody>
            <% @categories.each do |categ| %>
                <tr data-link="<%= category_path(categ) %>" class='mylink'>
                    <td scope="row"><%= categ.name%></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <br>
    <%= link_to "New Category", new_category_path %>
</div>




<!--this is probably not needed, redundant-->